@media screen and (min-width: 600px) {
  body {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
}

@media screen and (min-width: 1200px) {
  body {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}